spring: 
  datasource:
    url: jdbc:mysql://localhost:3306/shop_logos?serverTimezone=UTC
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD:root}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa: 
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  servlet:
    multipart:
      max-file-size: 5MB
server:
  port: 8080
  error:
    include-message: always
  servlet:
    context-path: /api
#logging:
#  level:
#    root: trace
custom:
  paths:
    file-directory: uploads