spring: 
  datasource:
    url: jdbc:mysql://localhost:3306/shop_logos?serverTimezone=UTC
#    TODO:
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa: 
    show-sql: true
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
server:
  port: 8081
  error:
    include-message: always
#logging:
#  level:
#    root: trace
custom:
  paths:
    file-directory: uploads